In [36]:
import numpy as np

# 1. Genarating a 2-D NumPy Array of size (10,5)

In [37]:
marks = [[60,70,80,65,81],[55,64,78,82,91],[57,54,67,74,88],[58,92,77,64,56], [57,86,54,67,78], [64,75,83,69,84] , [64,70,89,63,89], [61,71,80,62,87], [67,70,83,66,81] , [60,74,87,62,84]]

In [38]:
scores = np.array(marks)

In [39]:
print(scores.shape)

(10, 5)

# 2.1 Computing the average score per student

In [40]:
a = scores.sum(axis=1)

In [41]:
average = a/5

In [42]:
print(average)

[71.2 74.  68.  69.4 68.4 75.  75.  72.2 73.4 73.4]

# 2.2 Computing the maximum score per subject

In [43]:
max_scores = scores.max(axis=0)

In [44]:
print(max_scores)

[67 92 89 82 91]

# 2.3 Adding the average column to each student

In [45]:
av = average.reshape(10,1)

In [46]:
new = np.append(scores , av, axis = 1)

In [47]:
print(new)

[[60.  70.  80.  65.  81.  71.2]
 [55.  64.  78.  82.  91.  74. ]
 [57.  54.  67.  74.  88.  68. ]
 [58.  92.  77.  64.  56.  69.4]
 [57.  86.  54.  67.  78.  68.4]
 [64.  75.  83.  69.  84.  75. ]
 [64.  70.  89.  63.  89.  75. ]
 [61.  71.  80.  62.  87.  72.2]
 [67.  70.  83.  66.  81.  73.4]
 [60.  74.  87.  62.  84.  73.4]]

# Q.5

In [48]:
import pandas as pd

In [55]:
df = pd.DataFrame(new,  columns = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Average'])

In [58]:
df.to_csv('student_marks.csv', columns = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Average'] )